<%- include('../partials/header') %>

    <div class="container">
        <table class="responsive-table">
            <caption>All Classes</caption>
            <thead>
                <tr>
                    <th scope="col">Class Name</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Instructor</th>
                    <th scope="col">Difficulty</th>
                    <th scope="col">Additional Info</th>
                </tr>
            </thead>
            <tbody>
                <% classes.forEach(function(c) { %>
                    <tr>
                        <th scope="row">
                            <%= c.title %>
                        </th>
                        <td data-title="Subject">
                            <%= c.subject %>
                        </td>
                        <td data-title="Instructor">
                            <%= c.instructor %>
                        </td>
                        <td data-title="Difficulty">
                            <%= c.difficulty %>
                        </td>
                        <td><a href="/classes/<%= c._id %>">DETAILS</a></td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>

        <%- include('../partials/footer') %>