<%- include('../partials/header') %>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const modal = document.getElementById("myModal");
            const btn = document.getElementById("myBtn");
            const span = document.getElementsByClassName("close")[0];

            btn.addEventListener('click', () => modal.style.display = "block");
            span.addEventListener('click', () => modal.style.display = "none");
            window.addEventListener('click', (event) => {
                if (event.target === modal) {
                    modal.style.display = "none"
                }
            })
        });
    </script>
    <div class="container">
        <table class="responsive-table">
            <caption>All Classes</caption>
            <thead>
                <tr>
                    <th scope="col">Class Name</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Instructor</th>
                    <th scope="col">Difficulty</th>
                    <th scope="col">Additional Info</th>
                </tr>
            </thead>
            <tbody>
                <% classes.forEach(function(c) { %>
                    <tr>
                        <th scope="row">
                            <%= c.title %>
                        </th>
                        <td data-title="Subject">
                            <%= c.subject %>
                        </td>
                        <td data-title="Instructor">
                            <%= c.instructor.name %>
                        </td>
                        <td data-title="Difficulty">
                            <%= c.difficulty %>
                        </td>
                        <td><a href="/classes/<%= c._id %>">DETAILS</a></td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
        <% if(user.role==="ADMIN_ROLE" ) { %>

            <div id="myModal" class="modal my-class-modal">
                <!-- Modal content -->
                <div class="modal-content form-style-3 class-modal">
                    <form action="/classes/create" method="POST">
                        <fieldset>
                            <legend>Add a class</legend>
                            <span class="close">&times;</span>
                            <label for="field1"><span>Class Name <span class="required">*</span></span><input
                                    name="title" type="text"></label>
                            <label for="field2"><span>Class Subject<span class="required">*</span></span><input
                                    name="subject" type="text" name="title"></label>
                            <label for="field3"><span>Instructor<span class="required">*</span></span><select
                                    name="instructor" name="instructor" class="select-field">
                                    <% classes.forEach((c)=> { %>
                                        <option value="<%= c.instructor.name %>">
                                            <%= c.instructor.name %>
                                        </option>
                                        <% })%>
                                </select>
                            </label>
                            </label>
                            <label for="field4"><span>Difficulty <span class="required">*</span></span><select
                                    name="difficulty" class="select-field">
                                    <% for(let i=1; i <=10; i++) { %>
                                        <option value="<%=i%>">
                                            <%=i %>
                                        </option>
                                        <%}%>
                                </select></label>
                            </label>
                            <label><span> </span><input type="submit" value="Add Class" /></label>
                        </fieldset>
                    </form>
                </div>
            </div>
            <button id="myBtn" type="submit">Add Class</button>
            <%}%>
                <%- include('../partials/footer') %>