<%- include('../partials/header') %>

  <form action="/classes/enroll" method="POST">
    <table id="list">
      <thead>
        <tr>
          <th>Class Name</th>
          <th>Subject</th>
          <th>Instructor</th>
          <th>Difficulty</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% classes.forEach(function(c) { %>
          <tr>
            <td>
              <%= c.title %>
            </td>
            <td>
              <%= c.subject %>
            </td>
            <td>
              <%= c.instructor %>
            </td>
            <td>
              <%= c.difficulty %>
            </td>
            <td><a href="/classes/<%= c._id %>">DETAILS</a></td>
            <td><label>Enroll</label><input name="enroll" type="checkbox" value="<%=c.title%>"></td>
          </tr>
          <% }); %>
      </tbody>
    </table>
    <button type="submit">ENROLL</button>
  </form>
  <%- include('../partials/footer') %>