<%- include('../partials/header') %>

  <form action="/classes/enroll" method="POST">
    <div class="container">
      <table class="responsive-table">
        <caption>Available Classes</caption>
        <thead>
          <tr>
            <th scope="col">Class Name</th>
            <th scope="col">Subject</th>
            <th scope="col">Instructor</th>
            <th scope="col">Difficulty</th>
            <th scope="col">Enroll Now?</th>
          </tr>
        </thead>
        <tbody>
          <% classes.forEach(function(c) { %>
            <% if(!c.enrollees.includes(user._id)) { %>
              <tr>
                <th scope="row">
                  <%= c.title %>
                </th>
                <td data-title="Subject">
                  <%= c.subject %>
                </td>
                <td data-title="Instructor">
                  <%= c.instructor %>
                </td>
                <td data-title="Difficulty">
                  <%= c.difficulty %>
                </td>
                <td data-title="Enroll Now"><input name="enroll" type="checkbox" value="<%=c.title%>"></td>
              </tr>
              <%};%>
                <% }); %>
        </tbody>
      </table>
      <button type="submit">ENROLL</button>
  </form>
  <%- include('../partials/footer') %>