<%- include('../partials/header') %>

    <section id="show-page">
        <div>Title: </div>
        <div>
            <%= classes.title %>
        </div>
        <div>Subject: </div>
        <div>
            <%= classes.subject %>
        </div>
        <div>instructor: </div>
        <div>
            <%= classes.instructor %>
        </div>
        <div>Difficulty: </div>
        <div>
            <%=classes.difficulty%>
        </div>
        <a href="/classes/new">Enrollment Page</a>
    </section>
    <%- include('../partials/footer') %>