<%- include('../partials/header') %>
    <script>

        document.addEventListener('DOMContentLoaded', () => {
            const modal = document.getElementById("myModal");
            const btn = document.getElementById("myBtn");
            const span = document.getElementsByClassName("close")[0];

            btn.addEventListener('click', () => modal.style.display = "block");
            span.addEventListener('click', () => modal.style.display = "none");
            window.addEventListener('click', (event) => {
                if (event.target === modal) {
                    modal.style.display = "none"
                }
            })
        });
    </script>

    <section id="show-page">
        <h2>
            <%= classes.title %> Class Information
        </h2>
        <div>Title: </div>
        <div>
            <%= classes.title %>
        </div>
        <div>Subject: </div>
        <div>
            <%= classes.subject %>
        </div>
        <div>instructor: </div>
        <div>
            <%= classes.instructor %>
        </div>
        <div>Difficulty: </div>
        <div>
            <%=classes.difficulty%>
        </div>
        <a href="/classes/new">Enrollment Page</a>
    </section>

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content form-style-3">
            <form method="POST" action="/classes/<%= classes._id %>/reviews">
                <fieldset>
                    <legend>Review</legend>
                    <span class="close">&times;</span>
                    <h3>Leave a Review for <%=classes.instructor%>'s Class</h3>
                    <label for="field4"><span>Rating <span class="required">*</span></span><select name="rating"
                            class="select-field">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5" selected>5</option>
                        </select></label>
                    <label for="field6"><span>Details <span class="required">*</span></span><textarea name="content"
                            class="textarea-field"></textarea></label>
                    <label><span> </span><input type="submit" value="Add Review" /></label>
                </fieldset>
            </form>
        </div>
    </div>

    <section class="reviews">
        <% if (classes.reviews.length) { %>
            <% classes.reviews.forEach(function(r) { %>
                <div class="review-wrapper">
                    <img src="<%= r.userAvatar %>" alt="profile-pic">
                    <span class=username>
                        <%= r.userName %>
                    </span>
                    <div class="dialogbox">
                        <div class="body">
                            <span class="tip tip-left"></span>
                            <div class="message">
                                <form action="/reviews/<%=r._id %>?_method=DELETE" method="POST">
                                    <button type="submit">X</button>
                                </form>
                                <span>
                                    <%= r.content %>
                                </span>
                            </div>
                        </div>
                        <% if(user && user._id.equals(r.user)) { %>

                            <% } %>
                    </div>
                </div>
                <% }); %>
                    <% } else { %>
                        <h5>No Reviews Yet</h5>
                        <% } %>
                            <button id="myBtn">Review Form</button>
    </section>
    <%- include('../partials/footer') %>