<%- include('../partials/header') %>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const modal = document.getElementById("myModal");
            const btn = document.getElementById("myBtn");
            const span = document.getElementsByClassName("close")[0];

            btn.addEventListener('click', () => modal.style.display = "block");
            span.addEventListener('click', () => modal.style.display = "none");
            window.addEventListener('click', (event) => {
                if (event.target === modal) {
                    modal.style.display = "none"
                }
            })
        });
    </script>

    <section id="show-page">
        <div class="details-wrapper">
            <div class="card">
                <img src="<%= classes.instructor.image %>>" alt="instructor">
                <div class="info-container">
                    <h4><b>
                            <%= classes.instructor.name %>
                        </b></h4>
                    <p>
                        <%= classes.title %> Instructor
                    </p>
                </div>
            </div>
            <div class="info-wrapper">
                <div class="contact-info">
                    <h3>Contact Info</h3>
                    <a href="mailto: <%=classes.instructor.email%>>">
                        <%=classes.instructor.email%>
                    </a>
                    <br>
                    <span>
                        <%= classes.instructor.phone%>
                    </span>
                </div>
                <div class="course-info">
                    <h3>Course Information</h3>
                    <span>Subject: <%= classes.subject %> </span>
                    <br>
                    <span>Difficulty Rating: <%= classes.difficulty %></span>
                </div>
                <div class="about-me">
                    <h3>A little bit about
                        <%= firstName %>
                    </h3>
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget est sagittis, convallis mi id,
                        euismod dui. Suspendisse potenti. Integer in enim a tortor scelerisque ullamcorper quis id ante.
                        Aenean a erat vel augue eleifend blandit. Praesent porta odio vitae turpis iaculis, quis
                        tristique elit tincidunt. Aliquam ultrices, ex non elementum ornare, erat justo mollis ligula,
                        id porta dui metus eget massa. Aliquam fermentum mattis diam. Orci varius natoque penatibus et
                        magnis dis parturient montes, nascetur ridiculus mus. Nam vitae efficitur mauris. Donec sit amet
                        tortor euismod, faucibus odio et, hendrerit sapien.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content form-style-3">
            <form method="POST" action="/classes/<%= classes._id %>/reviews">
                <fieldset>
                    <legend>Review</legend>
                    <span class="close">&times;</span>
                    <h3>Leave a Review for <%=classes.instructor.name%>'s Class</h3>
                    <label for="field4"><span>Rating <span class="required">*</span></span><select name="rating"
                            class="select-field">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5" selected>5</option>
                        </select></label>
                    <label for="field6"><span>Details <span class="required">*</span></span><textarea name="content"
                            class="textarea-field"></textarea></label>
                    <label><span> </span><input type="submit" value="Add Review" /></label>
                </fieldset>
            </form>
        </div>
    </div>

    <section class="reviews">
        <div class="reviews-wrapper">
            <h2>Reviews</h2>
            <% if (classes.reviews.length) { %>
                <% classes.reviews.forEach(function(r) { %>
                    <div class="review-wrapper">
                        <div class="review-info-container"><img src="<%= r.userAvatar %>" alt="profile-pic">
                            <span class=username>
                                <%= r.userName %>
                            </span>
                        </div>
                        <div class="dialog-review-container">
                            <div class="dialogbox">
                                <div class="body">
                                    <span class="tip tip-left"></span>
                                    <div class="message">
                                        <% if(user && user._id.equals(r.user)) { %>
                                            <form action="/reviews/<%=r._id %>?_method=DELETE" method="POST">
                                                <button type="submit">X</button>
                                            </form>
                                            <% } %>
                                                <span>
                                                    <%= r.content %>
                                                </span>
                                    </div>
                                </div>
                            </div>
                            <span class="review-rating">Rating: <%=r.rating %>/5</span>
                        </div>
                    </div>
                    <% }); %>
                        <% } else { %>
                            <h5>No Reviews Yet</h5>
                            <% } %>
                                <button id="myBtn">Review Form</button>
        </div>
    </section>
    <%- include('../partials/footer') %>